.commit-title {
  margin: 0 auto;
}

.commit-info {
  justify-content: space-between;
}

.commit-info > * {
  width: 30%;
  text-align: center;
  justify-content: center;
}

.all-commits:not(:last-child) {
  border-bottom: 1px solid var(--gray);
}

#commit-author {
  text-align: left;
} 

.hash {
  width: 100%;
  color: var(--gray);
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .hash {
    width: 30%;

  }
}
  
