.commit-title {
  margin: 0 auto;
}

.commit-info {
  justify-content: space-between;
}

.commit-info > * {
  width: 30%;
  text-align: center;
}

.all-commits:not(:last-child) {
  border-bottom: 1px solid var(--gray);
}

#commit-author {
  text-align: left;
} 
