
.flex {
  display: flex;
  flex-wrap: wrap;
}


.repo-container {
  width: 95%;
  justify-content: center;
  margin: 15px auto;
}


.repo-card {
  background: white;
  color: var(--gray);
  width: 75%;
  border-radius: 15px;
  border: 2px solid var(--primary);
  text-align: center;
  align-items: center;
  margin: 10px 0;
}

.repo-container:nth-child(2n) .repo-card .repo-info {
  background: var(--secondary);
}

.repo-container:nth-child(2n) .repo-card {
  border: 2px solid var(--secondary);
}

.repo-card:hover {
  box-shadow: 0 0 10px 5px var(--primary);
  cursor: pointer;
}

.repo-container:nth-child(2n) .repo-card:hover {
  box-shadow: 0 0 10px 5px var(--secondary);
}

.repo-info {
  background: var(--primary);
  border-radius: 7px 7px 0 0;
  padding: 0 15px 20px 15px;
  width: 100%;
}

.repo-info:nth-child(2n) {
  background: var(--secondary);
}

.repo-info > * {
  width: 100%;
  margin: 0 0;
  color: white;
}

#repo-title {
  margin: 20px 0;
}


.repo-description {
  padding: 0 10px;
  text-align: left;
}


.repo-description > * {
  width: 100%;
}


@media screen and (min-width: 600px) {
  
  .repo-card {
    width: 100%;
    justify-content: space-evenly;
    border: 4px solid var(--primary);

  }

  .repo-info {
    align-items: center;
    padding: 0 20px;

  }

  .repo-info > * {
    width: 20%;
    text-align: right;
  }

  #repo-title {
    text-align: left;
  }

  .repo-container:nth-child(2n) .repo-card {
    border: 4px solid var(--secondary);
  }

  .repo-description {
    width: 100%;
    padding: 0 20px;
    text-align: start;
  }

  .repo-description > * {
    width: fit-content;
  } 

}