.repo-container {
  width: 95%;
  justify-content: center;
  margin: 15px auto;
}

.repo-container:first-child {
  margin: -15px auto 15px auto;
}

.repo-card:hover .repo-info {
  background: var(--secondary);
}

.repo-card:hover {
  border-color: var(--secondary);
  cursor: pointer; 
}

.repo-card {
  background: white;
  color: var(--gray);
  width: 75%;
  border-radius: 15px;
  border: 3px solid var(--primary);
  text-align: center;
  align-items: center;
  margin: 10px 0;
}

.repo-info {
  background: var(--primary);
  border-radius: 10px 10px 0 0;
  padding: 0 15px 20px 15px;
  width: 100%;
}

.repo-info > * {
  width: 100%;
  margin: 0 0;
  color: white;
}

#repo-title {
  margin: 20px 0;
}

.repo-description {
  padding: 0 10px;
  text-align: left;
}


.repo-description > * {
  width: 100%;
}

.commit-container {
  color: white;
  width: 100%;
}

.link-to-top {
  width: 100%;
  justify-content: center;
  margin: 15px 0 40px 0;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

@media screen and (min-width: 600px) {
  
  .repo-card {
    width: 100%;
    justify-content: space-evenly;
    border: 4px solid var(--primary);

  }

  .repo-info {
    align-items: center;
    padding: 0 20px;

  }

  .repo-info > * {
    width: 20%;
    text-align: right;
  }

  #repo-title {
    text-align: left;
  }

  .repo-description {
    width: 100%;
    padding: 0 20px;
    text-align: start;
  }

  .repo-description > * {
    width: fit-content;
  } 

}