.search-input-container {
  width: 100%;
  justify-content: center;
  align-content: center;
  margin: 50px 0;
}

form {
  justify-content: center;
  align-items: center;
}

input {
  background: var(--dark);
  color: var(--secondary);
  font-weight: 800;
  border: 2px solid var(--primary);
  font-size: 1rem;
  font-style: italic;
  border-radius: 10px 0 0 10px;
  padding: 10px;
}

input:focus {
  outline: none;
}

.btn {
  background: var(--primary);
  cursor: pointer;
  border: 2px solid var(--primary);
  border-radius: 0 10px 10px 0;
  color: var(--light);
  margin-left: -2px;
  font-style: normal;
}

.btn:hover {
  background: var(--secondary);
  box-shadow: 0 0 20px var(--secondary);
  border: 2px solid var(--secondary);
}

.per-page-container {
  margin: 20px 0;
}

label {
  color: var(--light);
  margin: 0 10px 0 30px;
  font-weight: 800;
  font-size: 1rem;
}

select {
  background: var(--secondary);
  color: var(--dark);
  font-weight: 800;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  
}

select:focus {
  outline: none;
}



@media screen and (min-width: 600px) {

  .btn {
    border: 4px solid var(--primary);
    margin-left: -4px;
  }
  
  input {
    border: 4px solid var(--primary);
    font-size: 1.5rem;
  }

  label {
    font-size: 1.5rem;
  }

  .btn:hover {
    /* background: radial-gradient(var(--secondary), var(--primary)); */
    border: 4px solid var(--secondary);
  }
  

}
