.search-input-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 50px 0;
}

.btn {
  background: var(--primary);
  cursor: pointer;
  border: 2px solid var(--primary);
  border-radius: 0 10px 10px 0;
  color: var(--light);
  margin-left: -2px;
}

input {
  background: var(--light);
  color: var(--secondary);
  border: 2px solid var(--primary);
  font-size: 1rem;
  border-radius: 10px 0 0 10px;
  padding: 10px;
}

input:focus, input:focus .btn{
  outline: none;
}

.btn:hover {
  /* background: radial-gradient(var(--secondary), var(--primary)); */
  background: var(--secondary);
  box-shadow: 0 0 20px var(--secondary);
  border: 2px solid var(--secondary);
}


@media screen and (min-width: 600px) {

  .btn {
    border: 4px solid var(--primary);
    margin-left: -4px;
  }
  
  input {
    border: 4px solid var(--primary);
    font-size: 1.5rem;
  }

  .btn:hover {
    /* background: radial-gradient(var(--secondary), var(--primary)); */
    border: 4px solid var(--secondary);
  }
  

}
