@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --primary: #00a3e7;
  --secondary: #00beac;
  --light: #f1f2f4;
  --dark: #091f32;
  --gray: #6d7888;
  --font-family-sans-serif: "Manrope", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::placeholder {
  color: var(--light);
  font-style: normal;
  font-weight: 200;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans-serif);
  background: var(--dark);
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}

h3 {
  font-weight: 800;
  font-size: 1rem;
}

p {
  font-weight: 400;
}

a {
  color: var(--light);
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}


@media screen and (min-width: 600px) {

  h3 {
    font-size: 1.5rem;
  }

}